@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

    --font-instrument: var(--font-instrument-serif);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-adamina: var(--font-adamina);
}

